{% extends "usuarios/base.html" %}
{% load static %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark" style="display: block; flex-wrap: nowrap;">
        <div class="container-fluid">
            <button class="btn btn-dark" onclick="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="mx-auto text-white d-none d-md-block">
                <span class="h5" style="text-decoration: underline;">{% block page_title %}Dashboard{% endblock %}</span>
            </div>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-none d-sm-block">
                    <span class="nav-link text-white">
                        {{ request.user.usuario.rol.nombre_rol }}&nbsp;&nbsp;&nbsp;&nbsp;|
                    </span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        {{ request.user.usuario.ap_paterno }}
                        {{ request.user.usuario.ap_materno }}, 
                        {{ request.user.usuario.nombres }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><p class="dropdown-item">{{ request.user.usuario.rol.nombre_rol }}</p></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><p class="dropdown-item">{{ request.user.username }}</p></li>
                        <li><p class="dropdown-item">{{ request.user.usuario.email }}</p></li>
                        <li><p class="dropdown-item">{{ request.user.usuario.telefono }}</p></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a id="logoutLink" class="dropdown-item logout-btn" href="{% url 'cerrar_sesion' %}" data-logout-url="{% url 'cerrar_sesion' %}" onclick="return confirm('¿Está seguro de que desea cerrar sesión?')">Cerrar sesión <i class="bi bi-arrow-right-circle"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <div class="container-fluid">
        {% block dashboard_content %}
        <!-- El contenido específico de cada vista irá aquí -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-2 footer-custom">
        <div class="container-fluid text-center">
            <small>© <span id="year"></span> Sistema POS. Todos los derechos reservados.</small>
        </div>
    </footer>

    <!-- Scripts específicos del dashboard -->
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <script src="{% static 'js/script.js' %}?v=1.0.2"></script>
{% endblock %}